parameters:
#    softlogo_portfolio.example.class: Softlogo\PortfolioBundle\Example

services:
#    softlogo_portfolio.example:
#        class: %softlogo_portfolio.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    softlogo_portfolio.admin.portfolio:
        class: Softlogo\PortfolioBundle\Admin\PortfolioAdmin
        arguments: [~, Softlogo\PortfolioBundle\Entity\Portfolio, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Portfolio, label: Portfolios}

    softlogo_portfolio.admin.category:
        class: Softlogo\PortfolioBundle\Admin\CategoryAdmin
        arguments: [~, Softlogo\PortfolioBundle\Entity\Category, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Portfolio, label: Categories}

    softlogo_portfolio.admin.portfolio_media:
        class: Softlogo\PortfolioBundle\Admin\PortfolioMediaAdmin
        arguments: [~, Softlogo\PortfolioBundle\Entity\PortfolioMedia, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: PortfolioMedia, show_in_dashboard: false}
